@charset "UTF=8";
article, aside, footer, header, nav, section {
	display:block;
}
html, body, h1, h2, h3, h4, ul, li, a, p, article, aside, footer, header, nav, section {
	padding:0;
	margin:0;
}
body, html{
	height:100%;
}
.main-nav{
	margin-bottom:150px;
}
/*homepage styles*/
#homepage{
	background: url("images/glowna.jpg") no-repeat center center fixed;
	background-size: cover;
}
nav ul{
	text-align: center;
	border-bottom:1px solid #cccccc;
	max-width: 1000px;
	margin: 0 auto;
}
nav li{
	display: inline-block;	
}
nav li a{
	font-family: 'Quicksand', sans-serif;
	color:#cccccc;
	text-decoration: none;
	font-size:30px;
	padding:27px;
	display: inline-block;
}

.page-title{
	font-family: 'Quicksand', sans-serif;
	color:#cccccc;
	font-size:135px;
	text-align: center;
	position: relative;
	top:63%;
	font-weight: bold;

}
/*about-us styles*/
#about-us{
	background: url("images/onas.jpg") no-repeat center center fixed;
	background-size: cover;
}
p{
	font-family: 'Poiret One', cursive;
	color:#cccccc;
	font-size:25px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;

}
.main-header{
	font-family: 'Poiret One', cursive;
	color:#cccccc;
	font-size: 40px;
	margin-bottom:50px;
}
article{
	max-width: 1000px;
	margin: 0 auto;
}

	